---
layout: archive
title: "Contact Me"
permalink: /contact/
author_profile: true
---
<div>
  Email:
  <a href= "mailto: abaakiyakubu@gmail.com"> abaakiyakubu@gmail.com </a>
</div>

<div>
   School Email: 
  <a href= "mailto: abdulbaaki.yakubu@ejust.edu.eg"> abdulbaaki.yakubu@ejust.edu.eg </a>
</div>
 

<div>
  Contact: +233549370432 / +201023063563
</div>

<div>
  Address: Tamale, Ghana
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

