---
layout: archive
title: "Projects"
permalink: /project/
author_profile: true
---

<div style="
  display: flex;
  position: relative;
  margin-left: 200px;
  height: 600px;
  width: 600px;">
      <img src="project_image.webp" alt="Image">
</div>

<div>
  <p style="
    font-size: 16px;
    font-weight: 600px;
    color: #F2FDD5"> Exciting projects are on the way! Stay tuned for upcoming innovations and updates. Check back soon for more details.</p>
</div>


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

