---
layout: archive
title: "Projects"
permalink: /project/
author_profile: true
---


<div style="color: #8F8288; font-weight: bold;">
  <h2>Exploring Advanced NOMA Solutions for 6G Networks: Efficiency, Fairness, and Adaptation</h2>
  <h3>Description</h3>
  <p>This project delves into cutting-edge NOMA (Non-Orthogonal Multiple Access) technologies to address critical challenges in 6G networks. By comparing NOMA with RSMA (Rate-Splitting Multiple Access), assessing the impact of path loss, and exploring Cooperative NOMA, the research aims to enhance multi-user communication. The project also investigates MIMO-NOMA, fairness, energy efficiency, and user pairing strategies, as well as the integration of link adaptation and SWIPT (Simultaneous Wireless Information and Power Transfer) to optimize performance.</p>
  <p> Exciting projects are on the way! Stay tuned for upcoming innovations and updates. <br>Check back soon for more details.</p>
</div>

<div>
  <h3>Past Projects</h3>
  <ul>
    <li><strong>Keyword Spotting on the Edge</strong>: Trained NN classifier to identify particular keywords, performed pruning, and deployed it onto a smartphone and Arduino nano 33 BLE sense.
    <a href="https://www.researchgate.net/publication/377628371_Project_DemoKeyword_Spotting_on_the_EDGE">Project Demo:Keyword Spotting on the EDGE</a>
    </li>
    <li>Designed a Microwave Oscillator (5 GHz VCO).</li>
    <li>Designed a Microstrip Patch Antenna at an operating frequency of 2.5 GHz.</li>
    <li>Designed a police siren using NE555 Timer Simulate the circuit on Proteus and solder it on a perf board to produce the exact sound.</li>
    <li><strong>Engineering in Society project</strong>: Collected and analyzed data on malaria cases' effect on society and simulated a circuit that produced ultrasound frequencies to repel mosquitoes (electronic mosquito repellant) to keep the ecosystem safe.</li>
  </ul>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

