---
layout: archive
title: "Research Experience"
permalink: /research/
author_profile: true
---

<div style="
  display: flex;
  position: relative;
  margin-top:30px;">
  <h3>Graduate Research - EJUST</h3>
  <p style="font-weight:bold;">Task Offloading and Resource Optimization in Multi-access Edge Computing using Reinforcement Learning.</p>
  <ul>
    <li>Designed an RIS-assisted NOMA-based Vehicular Edge Computing architecture as an environment for task offloading.</li>
    <li>Modeled the system for this environment and constructed a V2I transmission model using intra-edge and inter-edge interference of vehicles.</li>
    <li>Used distributed RL algorithms to optimize the offloading decisions to minimize the overall cost of computational offloading.</li>
    <li>Optimized the RIS phase shift parameters using Whale Optimization Algorithm.</li>
  </ul>
</div>

<div style="
  display: flex;
  position: relative;">
  <h3>Research Assistant - KNUST</h3>
  <ul>
    <li>Path Loss Prediction based on Machine Learning: Trained various Regressors and compared the result to empirical path loss models.</li>
    <li>Worked on a project called "Providing Real-time Speech-to-Sign Language Translation using AI."</li>
    <li>Co-supervised undergraduate student's research projects (two groups of three students).</li>
  </ul>
</div>



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
