---
layout: archive
title: "Research Experience"
permalink: /research/
author_profile: true
---
<div>
  <h1>Graduate Research - EJUST</h1>
  <p style="font-weight:bold;">Task Offloading and Resource Optimization in Multi-access Edge Computing using Reinforcement Learning.</p>
  <ul>
    <li>Designed an RIS-assisted NOMA-based Vehicular Edge Computing architecture as an environment for task offloading.</li>
    <li>Modeled the system for this environment and constructed a V2I transmission model using intra-edge and inter-edge interference of vehicles.</li>
    <li>Used distributed RL algorithms to optimize the offloading decisions to minimize the overall cost of computational offloading.</li>
    <li>Optimized the RIS phase shift parameters using Whale Optimization Algorithm.</li>
  </ul>
</div>

<div>
  <h1>Research Assistant - KNUST</h1>
  <ul>
    <li>Path Loss Prediction based on Machine Learning: Trained various Regressors and compared the result to empirical path loss models.</li>
    <li>Worked on a project called "Providing Real-time Speech-to-Sign Language Translation using AI."</li>
    <li>Co-supervised undergraduate student's research projects (two groups of three students).</li>
  </ul>
</div>

<div>
  <h1>Class Projects</h1>
  <ul>
    <li><strong>Keyword Spotting on the Edge</strong>: Trained NN classifier to identify particular keywords, performed pruning, and deployed it onto a smartphone and Arduino nano 33 BLE sense.
    <a href="https://www.researchgate.net/publication/377628371_Project_DemoKeyword_Spotting_on_the_EDGE">Project Demo:Keyword Spotting on the EDGE</a>
    </li>
    <li>Designed a Microwave Oscillator (5 GHz VCO).</li>
    <li>Designed a Microstrip Patch Antenna at an operating frequency of 2.5 GHz.</li>
    <li>Designed a police siren using NE555 Timer Simulate the circuit on Proteus and solder it on a perf board to produce the exact sound.</li>
    <li><strong>Engineering in Society project</strong>: Collected and analyzed data on malaria cases' effect on society and simulated a circuit that produced ultrasound frequencies to repel mosquitoes (electronic mosquito repellant) to keep the ecosystem safe.</li>
  </ul>
</div>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
